@{
    ViewBag.Title = "Редактировать информацию об отгрузке";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CoDA.Models.ShipmentInfo
<h2>Отгрузка №@Model.Id</h2>
@using (Html.BeginForm("EditShipmentInfo", "Search", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.DistributorId)
        <p>
            @Html.LabelFor(m => m.Date, "Дата отгрузки")
            <br />
            @Html.EditorFor(m => m.Date)
        </p>
        <p>
            @Html.LabelFor(m => m.Status, "Статус отгрузки")
            <br />
            @Html.EditorFor(m => m.Status)
        </p>
        <p><input type="submit" value="Изменить" /></p>
    </fieldset>
}